services:
  db:
    image: mariadb:lts
    container_name: nextcloud_db
    network_mode: bridge
    deploy:
      resources:
        limits:
          memory: 512M
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - TZ=Europe/Bucharest
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped
    volumes:
      - ./mariadb:/var/lib/mysql
  nextcloud:
    #image: linuxserver/nextcloud:latest
    image: linuxserver/nextcloud:30.0.0-ls345
    container_name: nextcloud
    network_mode: bridge
    deploy:
      resources:
        limits:
          memory: 2048M
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_HOST=172.17.0.2 # MYSQL_HOST=db
      - TZ=Europe/Bucharest
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost, 192.168.0.0/16, 10.7.0.0/24, 10.6.0.10/24, ${DOMAIN}
      - PHP_UPLOAD_LIMIT=1G
      - PHP_MEMORY_LIMIT=1G
#- NEXTCLOUD_DATADIR=/media/nexcloud_data
    volumes:
      - ./config:/config
      - /media/nexcloud:/data
    ports:
      - 7443:443
    restart: unless-stopped
    depends_on:
      - db
